@import 'tailwindcss';
/*
  ---break---
*/
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
	--color-background: #f9fafb;
	--color-foreground: #1f2937;

	--font-sans: var(--font-sans);
	--font-mono:
		var(--font-mono), ui-monospace, 'Courier New', monospace;

}

@utility animation-respectful {
	@media (prefers-reduced-motion) {
		@apply animate-none!;
	}
}

@utility grid-cols-auto {
	grid-template-columns: auto;
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}

@utility wordwrap-sm {
	max-width: 32rem;
}

@utility wordwrap-sized-sm {
	@apply wordwrap-sm;
	width: 32rem;
}

@utility wordwrap-md {
	max-width: 48rem;
}

@utility wordwrap-sized-md {
	@apply wordwrap-md;
	width: 48rem;
}

@utility wordwrap-dynamic {
	@apply wordwrap-sm lg:wordwrap-md;
}

@utility wordwrap-sized-dynamic {
	@apply wordwrap-sm lg:wordwrap-md;
	@apply wordwrap-sized-sm md:wordwrap-sized-md;
}

@layer base {
	* {
		/* @apply border-border; */
	}

	body {
		@apply bg-background text-foreground;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-semibold;
	}
}

:root {
	--footer-height: 220px;
	--header-height: calc(7.5rem + 4rem);

	--full-content-height: calc(
		100vh - var(--header-height) - var(--footer-height)
	);

	--wordwrap-class-sm: {
		max-width: 32rem;
	}

	--wordwrap-class-md: {
		max-width: 48rem;
	}
}

.full-content-class {
	min-height: var(--full-content-height);
	max-height: var(--full-content-height);
	height: var(--full-content-height);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* % centers children of container */
.center-children-class {
	display: grid;
	place-content: center;
}

.link-class:not(.link-nocolor-class .link-class):not(
		.link-blank-class .link-class
	) {
	@apply text-sky-600;
}

.link-pink-class .link-class {
	@apply text-pink-700;
}

.link-class:not(.link-nounderline-class .link-class):not(
		.link-blank-class .link-class
	) {
	@apply underline;
}
